<header class="pc-header bg-dark ">
    <div class="container">
        <div class="header-wrapper">
            <div class="m-header">
                <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page" class="b-brand">
                    <!-- ========   change your logo hear   ============ -->
                    <img src="assets/images/logo.svg" alt="" class="logo logo-lg">
                </a>
            </div>
            <div class="mr-auto pc-mob-drp">
                <ul class="list-unstyled">
                    <li class="dropdown pc-h-item">
                        <a class="pc-head-link active dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            Level
                        </a>
                        <div class="dropdown-menu pc-h-dropdown">
                            <a href="#!" class="dropdown-item">
                                <i class="material-icons-two-tone">account_circle</i>
                                <span>My Account</span>
                            </a>
                            <div class="pc-level-menu">
                                <a href="#!" class="dropdown-item">
                                    <i class="material-icons-two-tone">list_alt</i>
                                    <span class="float-right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-right mr-0"><polyline points="9 18 15 12 9 6"></polyline></svg></span>
                                    <span>Level2.1</span>
                                </a>
                                <div class="dropdown-menu pc-h-dropdown">
                                    <a href="#!" class="dropdown-item">
                                        <i class="fas fa-circle"></i>
                                        <span>My Account</span>
                                    </a>
                                    <a href="#!" class="dropdown-item">
                                        <i class="fas fa-circle"></i>
                                        <span>Settings</span>
                                    </a>
                                    <a href="#!" class="dropdown-item">
                                        <i class="fas fa-circle"></i>
                                        <span>Support</span>
                                    </a>
                                    <a href="#!" class="dropdown-item">
                                        <i class="fas fa-circle"></i>
                                        <span>Lock Screen</span>
                                    </a>
                                    <a href="#!" class="dropdown-item">
                                        <i class="fas fa-circle"></i>
                                        <span>Logout</span>
                                    </a>
                                </div>
                            </div>
                            <a href="#!" class="dropdown-item">
                                <i class="material-icons-two-tone">settings</i>
                                <span>Settings</span>
                            </a>
                            <a href="#!" class="dropdown-item">
                                <i class="material-icons-two-tone">support</i>
                                <span>Support</span>
                            </a>
                            <a href="#!" class="dropdown-item">
                                <i class="material-icons-two-tone">https</i>
                                <span>Lock Screen</span>
                            </a>
                            <a href="#!" class="dropdown-item">
                                <i class="material-icons-two-tone">chrome_reader_mode</i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </li>
                    <li class="dropdown pc-h-item pc-mega-menu">
                        <a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            Mega
                        </a>
                        <div class="dropdown-menu pc-h-dropdown pc-mega-dmenu">
                            <div class="row g-0">
                                <div class="col">
                                    <h6 class="mega-title">Primitives</h6>
                                    <ul class="pc-mega-list">
                                        <li><a href="#!" class="dropdown-item"><i class="material-icons-two-tone">account_circle</i><span>My Account</span></a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="material-icons-two-tone">settings</i><span>Settings</span></a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="material-icons-two-tone">support</i><span>Support</span></a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="material-icons-two-tone">https</i><span>Lock Screen</span></a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="material-icons-two-tone">chrome_reader_mode</i><span>Logout</span></a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="material-icons-two-tone">movie_creation</i><span>Button</span></a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="material-icons-two-tone">devices_other</i><span>Avatars</span></a></li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <h6 class="mega-title">UI Components</h6>
                                    <ul class="pc-mega-list">
                                        <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Alerts</a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Accordions</a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Avatars</a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Badges</a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Breadcrumbs</a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Button</a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Buttons Groups</a></li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <h6 class="mega-title">UI Components</h6>
                                    <ul class="pc-mega-list">
                                        <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Menus</a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Media Sliders / Carousel</a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Modals</a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Pagination</a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Progress Bars &amp; Graphs</a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Search Bar</a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Tabs</a></li>
                                    </ul>
                                </div>
                                <div class="col">
                                    <h6 class="mega-title">Advance Components</h6>
                                    <ul class="pc-mega-list">
                                        <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Advanced Stats</a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Advanced Cards</a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Lightbox</a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Notification</a></li>
                                        <li><a href="#!" class="dropdown-item"><i class="fas fa-circle"></i> Pnotify</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="ml-auto">
                <ul class="list-unstyled">
                    <li class="dropdown pc-h-item">
                        <a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="material-icons-two-tone">search</i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pc-h-dropdown drp-search">
                            <form class="px-3">
                                <div class="form-group mb-0 d-flex align-items-center">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-search"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
                                    <input type="search" class="form-control border-0 shadow-none" placeholder="Search here. . .">
                                </div>
                            </form>
                        </div>
                    </li>
                    <li class="dropdown pc-h-item pc-cart-menu">
                        <a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <i class="material-icons-two-tone">local_mall</i>
                            <span class="badge bg-success pc-h-badge">3</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pc-h-dropdown drp-cart">
                            <div class="cart-head">
                                <h4 class="mb-0">3 Items</h4>
                                <a href="#!" class="text-danger float-right"><u>Remove All</u></a>
                                <p class="mb-0">in your cart</p>
                            </div>
                            <div class="cart-item">
                                <img src="assets/images/product/prod-1.jpg" alt="Product-img" title="Product-img" class="rounded mr-3 border">
                                <div class="cart-desc">
                                    <a href="#!" class="text-body">
                                        <h6 class="d-inline-block mb-0">Villus Snow Ankle b...</h6>
                                    </a>
                                    <p class="mb-0">Army green,7</p>
                                    <span><span class="text-primary">$ 148.66</span> for <span class="text-primary">9</span> </span>
                                    <a href="#!" class="text-danger float-right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg></a>
                                </div>
                            </div>
                            <div class="cart-item">
                                <img src="assets/images/product/prod-2.jpg" alt="Product-img" title="Product-img" class="rounded mr-3 border">
                                <div class="cart-desc">
                                    <a href="#!" class="text-body">
                                        <h6 class="d-inline-block mb-0">Bullets Wireless Black</h6>
                                    </a>
                                    <p class="mb-0">Dark Black</p>
                                    <span><span class="text-primary">$ 299</span> for <span class="text-primary">5</span> </span>
                                    <a href="#!" class="text-danger float-right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg></a>
                                </div>
                            </div>
                            <div class="cart-item">
                                <img src="assets/images/product/prod-3.jpg" alt="Product-img" title="Product-img" class="rounded mr-3 border">
                                <div class="cart-desc">
                                    <a href="#!" class="text-body">
                                        <h6 class="d-inline-block mb-0">Parkas Thick Jackets</h6>
                                    </a>
                                    <p class="mb-0">Am Wine Red</p>
                                    <span><span class="text-primary">$ 599</span> for <span class="text-primary">3</span> </span>
                                    <a href="#!" class="text-danger float-right"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-trash-2"><polyline points="3 6 5 6 21 6"></polyline><path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path><line x1="10" y1="11" x2="10" y2="17"></line><line x1="14" y1="11" x2="14" y2="17"></line></svg></a>
                                </div>
                            </div>
                            <div class="table-responsive cart-item">
                                <table class="table table-borderless mb-0 table-xs">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <h6 class="m-0">Sub Total:</h6>
                                            </td>
                                            <td class="text-right">
                                                $1070
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h6 class="m-0">Shipping:</h6>
                                            </td>
                                            <td class="text-right">
                                                FREE
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h5 class="m-0">Total:</h5>
                                            </td>
                                            <td class="text-right">
                                                <h5 class="m-0 text-primary font-weight-bold">$1070</h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                                <button class="btn btn-primary btn-sm btn-block mt-2">Check out</button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </li>
                    <li class="pc-h-item">
                        <a class="pc-head-link mr-0" href="#" data-toggle="modal" data-target="#notification-modal">
                            <i class="material-icons-two-tone">notifications_active</i>
                            <span class="bg-danger pc-h-badge dots"><span class="sr-only"></span></span>
                        </a>
                    </li>
                    <li class="dropdown pc-h-item">
                        <a class="pc-head-link dropdown-toggle arrow-none mr-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            <img src="assets/images/user/avatar-2.jpg" alt="user-image" class="user-avtar">
                            <span>
                                <span class="user-name">Joseph William</span>
                                <span class="user-desc">Administrator</span>
                            </span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right pc-h-dropdown">
                            <div class=" dropdown-header">
                                <h6 class="text-overflow m-0">Welcome !</h6>
                            </div>
                            <a href="#!" class="dropdown-item">
                                <i class="material-icons-two-tone">account_circle</i>
                                <span>My Account</span>
                            </a>
                            <a href="#!" class="dropdown-item">
                                <i class="material-icons-two-tone">settings</i>
                                <span>Settings</span>
                            </a>
                            <a href="#!" class="dropdown-item">
                                <i class="material-icons-two-tone">support</i>
                                <span>Support</span>
                            </a>
                            <a href="#!" class="dropdown-item">
                                <i class="material-icons-two-tone">https</i>
                                <span>Lock Screen</span>
                            </a>
                            <a href="#!" class="dropdown-item">
                                <i class="material-icons-two-tone">chrome_reader_mode</i>
                                <span>Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</header>